*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.sidebar{
    background-color: rgb(131, 127, 127);
    width: 304px;
    font-family: cursive;
    height: 108vh;
}

.sidebar nav{
    padding: 26px;
}

.sidebar nav li{
    list-style: none;
    font-size: 28px;
    padding: 36px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main{
    /* background-color: coral; */
    width: 85%;
}

.info{
    background-color: black;
    height: 56vh;
    width: 80vw;
    margin: 130px auto;
    display: flex;
    justify-content: space-around;
}

.devLogo img{
    height: 56vh;
}

.hello{
    color: aqua;
    font-size: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name{
    color: red;
    font-size: 65px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
}

.about{
    color: bisque;
    font-size: 23px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ContactMe{
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 0 10px;
    background-color: royalblue;
    color: white;
}

.LinkedIn{
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 0 10px;
    background-color: royalblue;
    color: white;
}

.cv{
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 0 10px;
    background-color: royalblue;
    color: white;
}

.buttons{
    margin: 50px 20px;
}

.ContactMe:hover{
    background-color: white;
    color: royalblue;
    font-style: italic;
    cursor: pointer;
}

.cv:hover{
    background-color: white;
    color: royalblue;
    font-style: italic;
    cursor: pointer;
}

.LinkedIn:hover{
    background-color: white;
    color: royalblue;
    font-style: italic;
    cursor: pointer;
}

.contact h1{
    text-align: center;
}

.contact h2{
    text-align: center;
}